<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="mb-4">음악 추가</h2>
      <form action="/music" method="post">
        <div class="mb-3">
          <input
            type="text"
            id="title-input"
            class="form-control"
            name="title"
            placeholder="곡 제목을 입력해주세요"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            id="artist-input"
            class="form-control"
            name="singer"
            placeholder="가수 이름을 입력해주세요"
          />
        </div>
       
        <div class="mb-3">
          <select
            class="form-select"
            name="category"
            id="genre-select"
          >
            <option value="" disabled selected>장르를 선택해주세요</option>
            <option value="trot">트로트</option>
            <option value="create">창작 댄스</option>
            <option value="short">숏폼</option>
            <option value="kpop">케이팝</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">등록하기</button>
      </form>

      <div class="container mt-5">
        <h2 class="mb-4">음악 목록</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="table-white">
              <tr>
                <th scope="col">제목</th>
                <th scope="col">가수</th>
                <th scope="col">카테고리</th>
                <th scope="col">관리</th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<musics.length; i++) { %>
                <tr>
                  <td><%= musics[i].name %></td>
                  <td><%= musics[i].singer %></td>
                  <td><%= musics[i].category %></td>
                  <td>
                    <form action="/music/edit/<%= musics[i].id %>" method="get" class="d-inline">
                      <button class="btn btn-warning btn-sm me-1">수정</button>
                    </form>
                    <form action="/music/delete/<%= musics[i].id %>" method="get" class="d-inline">
                      <button class="btn btn-danger btn-sm">삭제</button>
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <h2 class="mb-4">동작 리스트</h2>
      <table class="table table-hover">
    <thead class="table-white">
      <tr>
        <th scope="col">노래번호</th>
        <th scope="col">단계/영상</th>
        <th scope="col">동작이름</th>
        <th scope="col">관리</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i=0; i< videos.length; i++) { %>
        <tr>
          <td><%= videos[i].music_id %></td>
          <td><%= videos[i].step %> 단계 / <%= videos[i].th %> 번째 영상</td>
          <td><%= videos[i].move_name %> </td>
          <td>
            <form action="/video/edit/<%= videos[i].id %>" method="get" class="d-inline">
              <button class="btn btn-warning btn-sm me-1">수정</button>
            </form>
            <form action="/video/delete/<%= videos[i].id %>" method="get" class="d-inline">
              <button class="btn btn-danger btn-sm">삭제</button>
            </form>
              <a href = "<%= videos[i].link %>" class="btn btn-primary">영상보러가기</a>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
    </table>  
    </div>

    <div class="container mt-5">
      <h2 class="mb-4">동작 추가</h2>
      <form action="/move" method="post" id="move" enctype="multipart/form-data">
        <div class="mb-3">
          <input
            type="text"
            id="video-id-input"
            class="form-control"
            name="name"
            placeholder="노래이름를 입력해주세요"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            id="step-input"
            class="form-control"
            name="step"
            placeholder="단계를 입력해주세요"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            id="th-input"
            class="form-control"
            name="th"
            placeholder="파트번호를 입력해주세요"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            id="th-input"
            class="form-control"
            name="move_name"
            placeholder="동작이름를 입력해주세요"
          />
        </div>

        <div class="mb-3">
          <input
            type="text"
            id="link"
            class="form-control"
            name="link"
            placeholder="영상이름이 입력됩니다"

            readonly
          />
        </div>

        <div class="mb-3">
        <input
        type="file"
        name="video"
        id="video"
        class="form-control"
        onchange="onChange()"
      />
        </div>
        
      <button type="submit" class="btn btn-primary"  >추가하기</button>
      </form>

     

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script type = "text/javascript">
      let target = document.getElementById("link");

      function onChange() {
        let name = document.getElementById("video").value;
        
        let input = name.split('\\').pop();
        target.value = input;

      }

    </script>
  </body>
</html>
